
body {
  background-color: #FAF5E4;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'VT323', sans-serif;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-family: 'VT323', sans-serif;
  font-size: 3vw;
  font-weight: normal;
  display: inline;
  padding: 0;
  margin: 0;
}

h3 {
  font-family: 'VT323', sans-serif;
  font-size: 5vw;
  font-weight: bold;
  padding: 0;
  text-align: center;
}

.navigation {
  padding: 0;
  margin: 0;
  background-color: #000000;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.navigation ul {
  list-style: none;
  margin-left: 1vw;
  margin-top: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.navigation li {
  font-family: 'VT323', sans-serif;
  font-size: 2.5vw;
  float: left;
  margin: 0;
}

.navigation a {
  display: block;
  padding: 1vw;
  margin-right: 2vw;
  text-decoration: none;
  transition: .5s color;
  color: #FFC640;
}

.navigation a:hover {
  color: #BC55A9;
}

.navigation a.active {
  color: #29FFD7;
  cursor: default;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #000000;
  color: #FFC640;
  font-size: 16px;
  font-family: 'VT323', sans-serif;
  width: 100%
}

footer a {
  color: #29FFD7
}

.canvas {
  width: 100%;
  position: relative;
  top: 8vw;
}

.canvas-table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border: 1px solid grey;
  position: absolute;
  left: 20vw;
  caption-side: bottom;
}

.canvas caption {
  text-align: left;
}

.canvas td {
  width: .75vw;
  height: .75vw;
  border: .5px solid #C9C9C9;
  cursor: crosshair;
}

.palette ul {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  overflow: scroll;
  position: absolute;
  width: 4vw;
  height: 33vw;
  left: 14vw;
  top: 7.5vw;
  direction: rtl;
}

.palette-color {
  position: relative;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  display: block;
  margin-bottom: 1vw;
}


.create-options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.create-options li {
  display: inline-block;
  font-family: 'VT323', sans-serif;
  font-size: 2vw;
  margin-right: 2vw;
}

.create-options button {
  background-color: #FAF5E4;
  border: 2px solid;
  border-radius: 6px;
  font-family: 'VT323', sans-serif;
  font-size: 2vw;
  position: relative;
  height: 3vw;
  transition: .5s;
}
  
.color {
  color: #FAF5E4;
}

.erase {
  color: #D4EC4D;
}

.erase:hover {
  background-color: #D4EC4D;
  border-color: #D4EC4D;
  color: #FAF5E4;
}

.download {
  color: #FFC640;
}

.download:hover {
  background-color: #FFC640;
  border-color: #FFC640;
  color: #FAF5E4;
}

.add-color {
  color: #FE5F55;
}

.add-color:hover {
  border-color: #FE5F55;
  background-color: #FE5F55;
  color: #FAF5E4;
}

.popup-container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-color: rgba(0,0,0,0.5);
}

.popup {
  text-align: center;
  top: 25%;
  border-radius: 4px;
  border-style: double;
  position: absolute;
  padding: 1px;
  left: 30%;
  background-color: rgba(0,0,0,0.25);
}

.close {
  color: #ffffff;
  float: right;
  font-size: 25px;
  font-family: sans-serif;
  padding-left: 1vw;
  padding-right: 1vw;
}

.choose {
  color: #ffffff;
  position: relative;
  bottom: .5vw;
}

.carousel {
  width: 60%;
  position: relative;
  top: 8vw;
  margin: auto;
}
  
.slide {
  width: 100%;
  display: none;
}

.carousel-left, .carousel-right {
  cursor: pointer;
  font-size: 30px;
  margin: auto;
  text-align: center;
  transition: .5s;
}

.carousel-left {
  padding-right: 75%;
}

.carousel-right {
  position: relative;
  bottom: 36px;
  padding-left: 75%;
}

.intro {
  position: relative;
  padding: 15%;
  padding-top: 7%;
  font-family: 'VT323', sans-serif;
  font-size: 1.5em;
}

.intro ul {
  list-style-type: square;
}

.intro a {
  color: #BC55A9;
}

.create {
  transition: .5s;
  cursor: pointer;
}

.create:hover {
  font-size: 6vw;
}


.gallery {
  margin: auto;
  padding: 3vw;
  width: 90%;
  height: 90%;
  border: none;
  top: 3vw;
  position: relative;
 }

.gallery img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.gallery td {
  width: 20vw;
  height: 20vw;
  border: none;
  opacity: .5;
  transition: .5s;
  overflow: hidden;
}

.gallery td:hover {
  opacity: 1;
  overflow: visible;
}

.about-content{
  position: relative;
  top: 4vw;
  padding: 2vw;
}

.about-content ul{
  list-style-type: square;
}

.about-content p, li, fieldset, form, label{
  font-family: 'VT323', sans-serif;
  font-size: 1.5em;
}

.about-content a{
  color: #BC55A9;
}

.about-foot {
  position: fixed;
  bottom: 0;
 }

